/* Large desktops and laptops */

/* Landscape tablets and medium desktops */

/* Portrait tablets and small desktops */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,800,900");

/* Landscape phones and portrait tablets */

/* Iphone 5 */

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Poppins";
  font-weight: 400;
  background-color: white;
  color: #222;
}

body._lock {
  overflow: hidden;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h1 span,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

h1,
h1 span,
h2,
h3 {
  font-weight: 700;
}

h1,
h1 span {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
}

h1 span {
  color: #f60091;
}

h2 {
  font-weight: 500;
  font-size: 25px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

span {
  font-size: 18px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

input,
select {
  outline: none;
}

button {
  outline: none;
  border: none;
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.mx-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.section {
  padding: 80px 0;
}

.page {
  padding-top: 82px;
}

.header__burger {
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
  display: none;
}

.header__burger span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 2px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.header__burger span:nth-child(2) {
  top: 45%;
}

.header__burger span:nth-child(3) {
  top: 85%;
}

.header__burger._show span:nth-child(2) {
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  opacity: 0;
  visibility: hidden;
}

.header__burger._show span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.header__burger._show span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 999;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__body._show .nav {
  left: 0;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .nav__link {
  color: #222;
  text-transform: uppercase;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  position: relative;
}

.header .nav__link:after {
  content: "";
  -webkit-transform-origin: right;
  transform-origin: right;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #f60091;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.header .nav__link:hover:after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.header__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__soc div:not(:first-child) {
  margin-left: 15px;
}

.header__soc div {
  padding: 5px 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #222;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.header__soc div:hover {
  background-color: #f60091;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.header__soc div:hover i {
  color: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.footer {
  background-color: #222;
}

.footer__body {
  padding: 60px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

.footer__item h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.footer__item a {
  margin-top: 10px;
  color: #959595;
  display: block;
  font-size: 14px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.footer__item a:hover {
  color: #f60091;
}

.footer__item-contact span {
  color: #959595;
}

.footer__item-contact div {
  font-size: 14px;
  margin-top: 10px;
  color: #959595;
}

.sale {
  padding: 5px 0;
  background-color: #f60091;
}

.sale__item {
  height: 100%;
  position: relative;
}

.sale__item p {
  color: #fff;
}

.slider {
  width: 100%;
  min-height: 100vh;
}

.slider__page {
  height: 100%;
  position: relative;
}

.slider__slide .banner {
  padding: 0 50px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #d1e2e9;
}

.slider__slide .banner__item-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  -ms-flex-item-align: center;
  align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider__slide .banner__item-left > div span {
  color: #444;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.slider__slide .banner__item-left > div h2 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.slider__slide .banner__item-left > div h3 {
  color: #444;
  margin-bottom: 10px;
}

.slider__slide .banner__item-right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider__slide .banner__item-right img {
  max-width: 100%;
  max-height: 100%;
}

.slider__slide .banner__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.slider__slide .banner__link {
  padding: 10px 20px;
  text-transform: uppercase;
}

.slider__slide .banner__link:nth-child(1) {
  background-color: #222;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: 1px solid #222;
}

.slider__slide .banner__link:nth-child(1):hover {
  background-color: #fff;
  color: #222;
}

.slider__slide .banner__link:nth-child(2) {
  background-color: none;
  color: #222;
  border: 1px solid #222;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.slider__slide .banner__link:nth-child(2):hover {
  background-color: #222;
  color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  width: calc(30px + (20) * ((100vw - 320px) / (1200 - 320)));
  height: calc(30px + (20) * ((100vw - 320px) / (1200 - 320)));
  outline: none;
}

.swiper-button-prev {
  transform: translate(-5%, 0);
  -webkit-transform: translate(-5%, 0);
  -moz-transform: translate(-5%, 0);
  -ms-transform: translate(-5%, 0);
  -o-transform: translate(-5%, 0);
}

.swiper-button-next {
  transform: translate(-5%, 0);
  -webkit-transform: translate(-5%, 0);
  -moz-transform: translate(-5%, 0);
  -ms-transform: translate(-5%, 0);
  -o-transform: translate(-5%, 0);
}

.swiper-button-prev:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("../img/images/arrow-circle-left-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}

.swiper-button-next:after {
  content: "";
  background: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("../img/images/arrow-circle-right-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}

.section__title {
  text-align: center;
}

.section__content {
  margin-top: 20px;
}

.shop-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.shop-cards__item {
  border-radius: 10px;
  position: relative;
  padding: 0 0 65% 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

.shop-cards__item:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.shop-cards__item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.shop-cards__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  z-index: 1;
}

.shop-cards__content {
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  z-index: 4;
}

.shop-cards__content h2,
.shop-cards__content a,
.shop-cards__content span {
  color: white;
}

.shop-cards__content span {
  display: block;
}

.shop-cards__content a {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #fff;
}

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d1e2e9;
}

.titles__item:not(:first-child) {
  margin-left: 10px;
}

.titles__item {
  cursor: pointer;
}

.titles__item.active .titles__dot {
  border: 1px solid #222;
}

.titles__item.active .titles__dot:after {
  background-color: #222;
}

.titles__item.active .titles__title {
  color: #222;
}

.titles__dot {
  display: inline-block;
  padding: 5px 5px;
  border: 1px solid #959595;
  position: relative;
}

.titles__dot:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  background-color: #959595;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.titles__title {
  color: #959595;
  display: inline-block;
}

.products__titles {
  padding: 20px 20px;
}

.filter-products__items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 250px));
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 20px;
}

.filter-products__item {
  text-align: center;
  display: grid;
  grid-template-rows: minmax(auto, 250px) 1fr;
}

.filter-products__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("/img/loading.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
}

.filter-products__top img {
  height: 100%;
}

.filter-products__bottom {
  display: grid;
  grid-template-rows: 1fr auto auto;
}

.filter-products__stars {
  color: #ffd800;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(8, minmax(auto, 150px));
  grid-template-rows: repeat(4, minmax(auto, 140px));
  gap: 10px;
}

.gallery__card {
  position: relative;
  overflow: hidden;
}

.gallery__card:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.gallery__card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.gallery__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}

.gallery__content h2,
.gallery__content a {
  color: #fff;
}

.gallery__content h2 {
  font-size: 18px;
}

.gallery__content a {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid #fff;
}

.brands__slider {
  height: 120px;
  overflow: hidden;
}

.brands__slide-container {
  width: 100%;
  height: 100%;
}

.brands__slide-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.latest-news__content {
  margin-top: 20px;
}

.slider-blog__container {
  overflow: hidden;
}

.slider-blog__slide {
  min-height: 100%;
  background-color: #d1e2e9;
}

.slider-blog__card {
  height: 100%;
  display: grid;
  grid-template-rows: minmax(auto, 300px) 1fr;
}

.slider-blog__img {
  width: 100%;
  height: 100%;
}

.slider-blog__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider-blog__content {
  padding: 10px;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.slider-blog__content h3 {
  margin-bottom: 10px;
}

.slider-blog__content span {
  margin-bottom: 10px;
}

.slider-blog__content p {
  margin-bottom: 10px;
}

.slider-blog__content a {
  justify-self: start;
  padding: 10px 20px;
  border: 1px solid #222;
  color: #222;
  background-color: #d1e2e9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider-blog__content a:hover {
  background-color: #444;
  color: #fff;
}

.info-more {
  background-color: #d1e2e9;
}

.info-more__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-items: center;
}

.info-more__icon-box {
  display: grid;
  justify-items: center;
}

.info-more__icon-box:hover i {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.info-more__icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-more__icon i {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}

@media screen and (min-width: 767px) {
  .gallery__card:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/5;
  }

  .gallery__card:nth-child(2) {
    grid-column: 4/7;
    grid-row: 1/3;
  }

  .gallery__card:nth-child(3) {
    grid-column: 7/10;
    grid-row: 1/3;
  }

  .gallery__card:nth-child(4) {
    grid-column: 4/10;
    grid-row: 3/5;
  }
}

@media screen and (min-width: 991px) {
  .header .nav__top {
    display: none;
  }

  .header .nav__list li:not(:first-child) {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .sale {
    height: 40px;
  }

  .sale__item p {
    position: absolute;
    top: 50%;
    left: 0;
    animation: sale 4s;
    -webkit-animation: sale 10s linear 1s infinite;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
  }

@-webkit-keyframes sale {
    0% {
      left: 0%;
    }

    50% {
      left: 80%;
    }

    100% {
      left: 0%;
    }
}

@keyframes sale {
    0% {
      left: 0%;
    }

    50% {
      left: 80%;
    }

    100% {
      left: 0%;
    }
}
}

@media (max-width: 1200px) {
  h1,
  h1 span {
    font-size: calc(23px + (9) * ((100vw - 320px) / (1200 - 320)));
  }

  h2 {
    font-size: calc(20px + (5) * ((100vw - 320px) / (1200 - 320)));
  }

  h3 {
    font-size: calc(17px + (3) * ((100vw - 320px) / (1200 - 320)));
  }

  span {
    font-size: calc(15px + (3) * ((100vw - 320px) / (1200 - 320)));
  }

  .mx-container {
    padding-left: calc(15px + (5) * ((100vw - 320px) / (1200 - 320)));
  }

  .mx-container {
    padding-right: calc(15px + (5) * ((100vw - 320px) / (1200 - 320)));
  }

  .slider__slide .banner__item-left > div span {
    font-size: calc(10px + (4) * ((100vw - 320px) / (1200 - 320)));
  }

  .slider__slide .banner__item-left > div h2 {
    font-size: calc(18px + (12) * ((100vw - 320px) / (1200 - 320)));
  }

  .slider__slide .banner__item-left > div h3 {
    font-size: calc(18px + (12) * ((100vw - 320px) / (1200 - 320)));
  }

  .slider__slide .banner__link {
    font-size: calc(12px + (4) * ((100vw - 320px) / (1200 - 320)));
  }

  .shop-cards__content h2 {
    font-size: calc(18px + (7) * ((100vw - 320px) / (1200 - 320)));
  }
}

@media screen and (max-width: 1199px) {
  .slider__slide .banner__item-right img {
    max-width: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .sale__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .slider__slide .banner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .slider__slide .banner__item-left {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .slider__slide .banner__item-left {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}

@media screen and (max-width: 992px) {
  .swiper-button-prev:after {
    background-size: calc(30px + (10) * ((100vw - 320px) / (1200 - 320)));
  }

  .swiper-button-next:after {
    background-size: calc(30px + (10) * ((100vw - 320px) / (1200 - 320)));
  }
}

@media screen and (max-width: 991px) {
  .header .nav__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f60091;
    padding: 20px;
  }

  .header .nav__top h1,
  .header .nav__top h1 span,
  h1 .header .nav__top span,
  .header .nav__top span {
    color: white;
  }

  .header .nav__list {
    overflow-y: scroll;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 50px 0 80px 50px;
    gap: 20px;
  }

  .header .nav__link {
    font-weight: 400;
  }

  .header__burger {
    display: block;
  }

  .header .nav {
    position: fixed;
    left: -200%;
    top: 0;
    width: 60%;
    height: 100%;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    z-index: 999;
  }

  .shop-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .shop-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 991px) and (max-width: 1200px) {
  .header .nav__link {
    padding: calc(15px + (11) * ((100vw - 320px) / (1200 - 320)));
  }
}

@media screen and (max-width: 767px) {
  .slider__slide .banner__item-right img {
    max-width: 450px;
  }

  .titles {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
  }

  .gallery__cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .gallery__content a {
    padding: 4px 8px;
  }
}

@media screen and (max-width: 576px) {
  .footer__body {
    display: block;
  }

  .footer__item {
    margin-top: 40px;
  }

  .slider__slide .banner__links {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) and (max-width: 1200px) {
  .slider__slide .banner__item-right img {
    max-width: calc(300px + (150) * ((100vw - 320px) / (1200 - 320)));
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  .header .nav__link {
    font-size: calc(12px + (4) * ((100vw - 320px) / (1200 - 320)));
  }
}